IMG{
	height: 120px
}
BODY {
	color:white;
	background-color: #1E90FF;
	font-family: Arial;
}
INPUT{
	font-size: 25px;
 	height: 40px;
}
#date2,#date1{
	width: 320px;
} 
LABEL {
	font-size:25px;
}
#tit1{
	position: absolute;
	top: 45px;
	left: 720px;
}
#lid{
	position: absolute;
	top: 170px;
	left: 190px;
}
#lnombre{
	position: absolute;
	top: 170px;
	left: 550px;
}
#ldir{
	position: absolute;
	top: 170px;
	left: 930px;
}
#ltel{
	position: absolute;
	top: 170px;
	left: 1280px;
}
#lciu{
	position: absolute;
	top: 170px;
	left: 1660px;
}
#id{
	position: absolute;
	top: 240px;
	left: 80px;
}
#nombre{
	position: absolute;
	top: 230px;
	left: 464px;
}
#direccion{
	position: absolute;
	top: 230px;
	left: 828px;
}
#telefono{
	position: absolute;
	top: 230px;
	left: 1192px;
}
#ciudad{
	position: absolute;
	top: 230px;
	left: 1556px;
}
#barra1{
	position: absolute;
	top: 350px;
	background-color: white;
}
.button{
	background-color: white;
  	background-color: #778899;
  	color: white;
 	border-radius: 5px;
 	cursor: pointer;
}
.button:hover{
	background-color: #708090;
}
#buttonCliente{
	position: absolute;
	top: 280px;
	left: 80px;
	font-size: 20px;
	padding: 10px 10px;
}
.form2{
	position: relative;
	top: 250px;
	left: 50px;	
}
.filainput1{
	margin-right: 45px;
}
.labelform2{
	position: relative;
	top: 180px;
}
#lfactura{
	position: relative;
	left: 50px;	
}
#lfecrel{
	position: relative;
	left: 300px;	
}
#lfecven{
	position: relative;
	left: 450px;	
}
#lorcom{
	position: relative;
	left: 570px;		
}
#lrem{
	position: relative;
	left: 750px;		
}
#barra2{
	position: relative;
	top: 450px;
	background-color: white;
}
#titulo2{
	position: relative;
	top: 200px;
	left: 50px;	
}
.labelform3{
	position: relative;
	top: 200px;
	left: 100px;
}
.form3{
	position: relative;
	top: 220px;
	left: 100px;	
}
#ldesc{
	position: relative;
	left: 300px;
}
#lcant{
	position: relative;
	left: 530px;
}
#lvalun{
	position: relative;
	left: 800px;
}
#buttonItem{
	position: absolute;
	top: 610px;
	left: 1650px;
	font-size: 20px;
	padding: 10px 10px;
}
.labelform4{
	position: absolute;
	top: 780px;
	left: 820px;
}
.form4{
	position: absolute;
	top: 760px;
	left: 1000px;
}
#lobserv{
	position: absolute;
	top: 750px;
	left: 100px;
}
#observ{
	position: absolute;
	top: 780px;
	left: 100px;
}
#buttonGuardar{
	position: absolute;
	top: 800px;
	left: 1400px;
	font-size: 20px;
	padding: 10px 10px;
}
#buttonEnviar{
	position: absolute;
	top: 800px;
	left: 1550px;
	font-size: 20px;
	padding: 10px 10px;
}
#bloquefactura1{
	position: absolute;
	top: 200px;
}
#bloquefactura2{
	position: absolute;
	top: 360px;
}